{%- comment -%}
  Snippet: announcement-bar-left
  Expected:
    - section (required)
{%- endcomment -%}

{%- if section.settings.ab_show_location -%}
  <div class="announcement-bar__left">
    <a
      class="announcement-bar__location"
      href="{{ section.settings.ab_location_link | default: '#' }}"
      aria-label="{{ section.settings.ab_location_aria | default: 'Location' }}"
    >
      <span class="announcement-bar__location-icon" aria-hidden="true">
        <svg viewBox="0 0 384 512" role="img" focusable="false" aria-hidden="true">
          <path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path>
        </svg>
      </span>

      <span class="announcement-bar__location-text">
        {%- if section.settings.ab_location_text != blank -%}
          {{ section.settings.ab_location_text }}
        {%- else -%}
          {{ localization.country.name }}
        {%- endif -%}
      </span>
    </a>
  </div>
{%- endif -%}
